
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
.one, .two, .three{
	height:100px;
	width:100px;
}
.one{background-color:red}
.two{background-color:blue}
.three{background-color:green}